In [1]:
import pandas as pd

In [2]:
df_final = pd.read_csv("./Dataset/0.df_final.csv")
df_cliente = pd.read_csv("./Dataset/1.cliente_tabla.csv")
df_state = pd.read_csv("./Dataset/3.town_state.csv")
df_produto = pd.read_csv("./Dataset/2.producto_tabla.csv")

In [3]:
df_cliente["Cliente_ID"].drop_duplicates(inplace=True)

In [6]:
df = pd.merge(df_final, df_cliente, on="Cliente_ID", how="inner")

In [7]:
df = pd.merge(df, df_state, on="Agencia_ID", how="inner")

In [ ]:
df_produto["Producto_ID"]

In [8]:
df = pd.merge(df, df_produto, on="Producto_ID", how="inner")

In [9]:
df.columns

Index(['Semana', 'Agencia_ID', 'Canal_ID', 'Ruta_SAK', 'Cliente_ID',
       'Producto_ID', 'Venta_uni_hoy', 'Venta_hoy', 'Dev_uni_proxima',
       'Dev_proxima', 'Demanda_uni_equil', 'NombreCliente', 'Town', 'State',
       'NombreProducto'],
      dtype='object')

In [10]:
df.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,NombreCliente,Town,State,NombreProducto
0,5,1936,1,1158,1575677,2425,60,270.0,0,0.0,60,JUAN CARLOS GOMEZ GOMEZ,2300 LEON MILENIUM,GUANAJUATO,Nito 1p 62g Central BIM 2425
1,3,1936,1,1164,4511404,2425,60,270.0,0,0.0,60,NO IDENTIFICADO,2300 LEON MILENIUM,GUANAJUATO,Nito 1p 62g Central BIM 2425
2,4,1936,1,1161,66167,2425,24,108.0,0,0.0,24,TERISUR,2300 LEON MILENIUM,GUANAJUATO,Nito 1p 62g Central BIM 2425
3,4,1936,1,1164,948201,2425,1,4.5,2,9.0,0,JORGE ALEJANDRO TRUJILLO,2300 LEON MILENIUM,GUANAJUATO,Nito 1p 62g Central BIM 2425
4,3,1936,1,1156,877954,2425,55,247.5,0,0.0,55,SILVIA RAMIREZ CASTRO,2300 LEON MILENIUM,GUANAJUATO,Nito 1p 62g Central BIM 2425

In [11]:
df.to_csv("./Dataset/join_table.csv", index=False)