In [1]:
import pandas as pd

In [2]:
df_final = pd.read_csv("./Dataset/0.df_final.csv")
df_cliente = pd.read_csv("./Dataset/1.cliente_tabla.csv")
df_state = pd.read_csv("./Dataset/3.town_state.csv")
df_produto = pd.read_csv("./Dataset/2.producto_tabla.csv")

In [9]:
df_final

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
0,5,1936,1,1158,1575677,2425,60,270.00,0,0.0,60
1,6,1310,1,2005,32695,43066,1,9.63,0,0.0,1
2,3,2029,1,1126,1048394,1309,1,6.76,0,0.0,1
3,4,2022,1,1221,2036290,1278,20,90.00,0,0.0,20
4,4,4041,1,1054,153108,5707,3,48.00,0,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...
964343,9,1423,4,4906,1436346,34054,10,51.20,0,0.0,10
964344,7,1121,1,1202,4448718,1125,2,19.20,0,0.0,2
964345,8,1632,1,1212,623879,1240,3,25.14,0,0.0,3
964346,7,1123,1,1001,2414065,48077,3,42.78,0,0.0,3
964347,7,1613,1,2850,1505796,37361,3,18.75,0,0.0,3

In [3]:
df_cliente = df_cliente.drop_duplicates(subset = "Cliente_ID")

In [4]:
df_cliente["Cliente_ID"].value_counts()

0          1
618371     1
818977     1
4665251    1
814883     1
          ..
4587930    1
2492827    1
405916     1
4602269    1
2047       1
Name: Cliente_ID, Length: 930500, dtype: int64

In [5]:
df = pd.merge(df_final, df_cliente, on="Cliente_ID", how="inner")

In [16]:
df

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,NombreCliente,Town,State,NombreProducto
0,5,1936,1,1158,1575677,2425,60,270.0,0,0.0,60,JUAN CARLOS GOMEZ GOMEZ,2300 LEON MILENIUM,GUANAJUATO,Nito 1p 62g Central BIM 2425
1,3,1936,1,1164,4511404,2425,60,270.0,0,0.0,60,NO IDENTIFICADO,2300 LEON MILENIUM,GUANAJUATO,Nito 1p 62g Central BIM 2425
2,4,1936,1,1161,66167,2425,24,108.0,0,0.0,24,TERISUR,2300 LEON MILENIUM,GUANAJUATO,Nito 1p 62g Central BIM 2425
3,4,1936,1,1164,948201,2425,1,4.5,2,9.0,0,JORGE ALEJANDRO TRUJILLO,2300 LEON MILENIUM,GUANAJUATO,Nito 1p 62g Central BIM 2425
4,3,1936,1,1156,877954,2425,55,247.5,0,0.0,55,SILVIA RAMIREZ CASTRO,2300 LEON MILENIUM,GUANAJUATO,Nito 1p 62g Central BIM 2425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
964343,9,1495,2,1515,2000241,34876,199,2925.3,0,0.0,199,HEB PIEDRAS NEGRAS,2474 PIEDRAS NEGRAS,COAHUILA,Bollos Jumbo 6p 480g TNB SUN 34876
964344,9,1995,11,7704,646591,8825,1,8.2,0,0.0,1,ESCUELA 5 DE FEBRERO VESPERTINO,2574 TIJUANA PACIFICO,BAJA CALIFORNIA NORTE,Obleas Tira 10p COR 8825
964345,8,1995,9,3405,167279,40430,280,12544.0,0,0.0,280,CARLS JR 5 Y 10,2574 TIJUANA PACIFICO,BAJA CALIFORNIA NORTE,Bollos Carls Jr 5in 1350g TIR SL 40430
964346,3,2253,2,1501,52863,48695,568,5907.2,0,0.0,568,CHEDRAUI CIUDAD DEL CARMEN,2384 CIUDAD DEL CARMEN,CAMPECHE,Empanizador Hojuela 185g MTA BIM 48695
964347,4,1939,11,3907,4220154,32541,20,33.2,0,0.0,20,NO IDENTIFICADO,2269 PUERTO VALLARTA BIMBO,JALISCO,Mi Barrita Pina 26 5g MLA 32541

In [6]:
df = pd.merge(df, df_state, on="Agencia_ID", how="inner")

In [14]:
df_produto["Producto_ID"]

0           0
1           9
2          41
3          53
4          72
        ...
2587    49992
2588    49993
2589    49994
2590    49996
2591    49997
Name: Producto_ID, Length: 2592, dtype: int64

In [7]:
df = pd.merge(df, df_produto, on="Producto_ID", how="inner")

In [8]:
df.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,NombreCliente,Town,State,NombreProducto
0,5,1936,1,1158,1575677,2425,60,270.0,0,0.0,60,JUAN CARLOS GOMEZ GOMEZ,2300 LEON MILENIUM,GUANAJUATO,Nito 1p 62g Central BIM 2425
1,3,1936,1,1164,4511404,2425,60,270.0,0,0.0,60,NO IDENTIFICADO,2300 LEON MILENIUM,GUANAJUATO,Nito 1p 62g Central BIM 2425
2,4,1936,1,1161,66167,2425,24,108.0,0,0.0,24,TERISUR,2300 LEON MILENIUM,GUANAJUATO,Nito 1p 62g Central BIM 2425
3,4,1936,1,1164,948201,2425,1,4.5,2,9.0,0,JORGE ALEJANDRO TRUJILLO,2300 LEON MILENIUM,GUANAJUATO,Nito 1p 62g Central BIM 2425
4,3,1936,1,1156,877954,2425,55,247.5,0,0.0,55,SILVIA RAMIREZ CASTRO,2300 LEON MILENIUM,GUANAJUATO,Nito 1p 62g Central BIM 2425

In [10]:
import numpy as np

In [11]:
df["Demanda_uni_equil"] = df['Demanda_uni_equil'].apply(lambda x: 0 if x==0 or np.log10(x) <0.56 else 1)

In [ ]:
df.to_csv("./Dataset/join_table.csv", index=False)

In [9]:
df.columns

Index(['Semana', 'Agencia_ID', 'Canal_ID', 'Ruta_SAK', 'Cliente_ID',
       'Producto_ID', 'Venta_uni_hoy', 'Venta_hoy', 'Dev_uni_proxima',
       'Dev_proxima', 'Demanda_uni_equil', 'NombreCliente', 'Town', 'State',
       'NombreProducto'],
      dtype='object')

In [10]:
df.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,NombreCliente,Town,State,NombreProducto
0,5,1936,1,1158,1575677,2425,60,270.0,0,0.0,60,JUAN CARLOS GOMEZ GOMEZ,2300 LEON MILENIUM,GUANAJUATO,Nito 1p 62g Central BIM 2425
1,3,1936,1,1164,4511404,2425,60,270.0,0,0.0,60,NO IDENTIFICADO,2300 LEON MILENIUM,GUANAJUATO,Nito 1p 62g Central BIM 2425
2,4,1936,1,1161,66167,2425,24,108.0,0,0.0,24,TERISUR,2300 LEON MILENIUM,GUANAJUATO,Nito 1p 62g Central BIM 2425
3,4,1936,1,1164,948201,2425,1,4.5,2,9.0,0,JORGE ALEJANDRO TRUJILLO,2300 LEON MILENIUM,GUANAJUATO,Nito 1p 62g Central BIM 2425
4,3,1936,1,1156,877954,2425,55,247.5,0,0.0,55,SILVIA RAMIREZ CASTRO,2300 LEON MILENIUM,GUANAJUATO,Nito 1p 62g Central BIM 2425

In [11]:
df.to_csv("./Dataset/join_table.csv", index=False)