In [57]:
import pandas as pd

In [58]:
df1 = pd.read_csv('./df_clean.csv')

In [59]:
df_target = pd.read_csv("./Dataset_dashboard/target.csv")

In [60]:

df1['Predicted'] = df_target

In [64]:
df1['Difference'] =df1.Predicted - df1.AjustedDemand

In [65]:
df1.to_csv('./Dataset_dashboard/main.csv', index=False)

In [61]:
product_x = df1[['short_name', 'AjustedDemand']].groupby('short_name').sum()['AjustedDemand']

In [62]:
product_y = df1[['short_name', 'Predicted']].groupby('short_name').sum()['Predicted']

In [63]:
diferenca = product_x - product_y

In [41]:
product = pd.DataFrame(product_x[(product_x < product_y) != 0].index.unique().values, columns=['short_name'])

In [50]:
product1 = product.merge(product_x, on='short_name', how='inner')
product1 = product.merge(product_y, on='short_name', how='inner')

                     short_name  Predicted
0                 barrit pin kc         30
1               barrit pin salv          2
2         bimking clasic refrig         52
3                          boll        235
4                       boll bk        103
5         bon bon lech two pack          2
6        bran frut manzan canel        291
7       cajill galleton natural          1
8       canelit navid mayore kc         12
9                   canelit tub       1076
10                     choc rol      10186
11                     chocorol         82
12                     don azuc      13893
13                doradit paner          1
14        duo pan bco siluet mm          9
15     duo pan multigran lin mm         11
16      english muffins natural          3
17         gallet integral aven        304
18  lat czon gallet sn valentin          9
19                  mantec nuez       7060
20                  mantec vain          3
21             medi noch esp bk         18
22                          mol         49
23             pan blanc siluet        112
24               pan pullm fibr         13
25         pan tost tradicional          1
26       pan whol grain and oat         43
27               paner don azuc         16
28                      pinguin       9906
29                  polvoron kc         44
30             princip chocolat          2
31                   princip kc        116
32                        reban      24325
33                         salm         92
34                    salm azul          5
35                 salm dispens          2
36                       salmit          1
37                sup pan blanc        286
38                     surt ric         15
39                  surt ric kc          5
40                   takis fueg         35
41               tortill consum        411
42             tost ond roj tub        156
43                        totop       1838
44                   totop maiz          6
45                triki trak kc         59
46               triki trak tub       1324

In [43]:
product.to_csv('./Dataset_dashboard/productos_a_mais.csv', index=False)

In [48]:
diferenca

                        0
short_name
actifresh ment          0
actifresh yerbabuen     0
agu ciel jamaic         0
agu ciel limon          1
agu ciel natural        0
...                    ..
tuinky fres crem        0
tuinky vainill          0
twin pack thins multig  0
twinki vainill          1
wond                    3

[505 rows x 1 columns]