In [1]:
import pandas as pd

In [2]:
df1= pd.read_csv('./Dataset_dashboard/client.csv')
df2= pd.read_csv('./Dataset_dashboard/product.csv')
df3= pd.read_csv('./Dataset_dashboard/town_state.csv')
df4= pd.read_csv('./Dataset_dashboard/main.csv')
df5= pd.read_csv('./Dataset_dashboard/target.csv')

In [3]:
df4

        y_pred
0            1
1            1
2            1
3            1
4            1
...        ...
964343       1
964344       1
964345       1
964346       1
964347       1

[964348 rows x 1 columns]